{% extends 'base.html.twig' %}

{% block body %}
    <h1>Actionforevents list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Eventlevel</th>
                <th>Action</th>
                <th>Settings</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actionForEvent in actionForEvents %}
            <tr>
                <td><a href="{{ path('actions_show', { 'id': actionForEvent.id }) }}">{{ actionForEvent.id }}</a></td>
                <td>{{ actionForEvent.eventLevel }}</td>
                <td>{{ actionForEvent.action }}</td>
                <td>{{ actionForEvent.settings }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('actions_show', { 'id': actionForEvent.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('actions_edit', { 'id': actionForEvent.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('actions_new') }}">Create a new actionForEvent</a>
        </li>
    </ul>
{% endblock %}
