{% extends 'base.html.twig' %}

{% block body %}
    <h1>Actionforevent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actionForEvent.id }}</td>
            </tr>
            <tr>
                <th>Eventlevel</th>
                <td>{{ actionForEvent.eventLevel }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>{{ actionForEvent.action }}</td>
            </tr>
            <tr>
                <th>Settings</th>
                <td>{{ actionForEvent.settings }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('actions_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('actions_edit', { 'id': actionForEvent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
